*, *::before, *::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    /* font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif; */
    font-family: "Lora", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #111;
}
  
a {
    text-decoration: none;
    color: inherit;
}

.font-theme {
    font-family: 'Amatic SC', cursive;
}

.font--light {
    font-weight: lighter;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

section {
    margin: 32px 0;
}

div[image] {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box;
}