/* Header */
header#home {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

header#home > div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header#home > div > h1 {
    font-size: 8rem;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}

header#home > div {
    background-image: url("../dog-home.svg");
    padding: 24%;
    color: #bdb69f;
}

/* Menu */
#home > nav {
    padding: 10px 10%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: transparent;
    width: 100%;
    transition: background-color 200ms ease-in-out;
    /* Push a new property to trigger too */
    transition-property: border-bottom;
    border-bottom: 1px solid transparent;
    display: flex;
    justify-content: space-between;
}

#home > nav > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-auto-flow: column;
    justify-content: end;
}

#home > nav > ul > li {
    display: inline-block;
    padding: 8px 16px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: all 190ms ease-in-out;
}

#home > nav > div {
    width: 100px;
    min-height: 100%;
    cursor: pointer;
    background-image: url("../love-cat.png");
    background-size: contain;
}

#home > nav > ul > li:hover {
    border-bottom: 2px solid #333333;
    display: block;
}

#home > nav.active {
    background-color: rgb(251, 251, 251);
    border-bottom: 1px solid rgb(240, 240, 240);
}

/* About Us */
section#about-us {
    width: 100%;
}

body > section > h1 {
    font-size: 3.0rem;
    letter-spacing: 1rem;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #ded7bf;
}

#about-us > div {
    margin: 64px auto;
    width: 80%;
    min-height: 200px;
    display: grid;
    grid-template-columns: 2fr 4fr;
}

#about-us > div > div[image] {
    order: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box;
    padding: 10%;
}

#about-us > div[inverted] {
    grid-template-columns: 4fr 2fr;
}

#about-us > div[inverted] > div[image] {
    order: 1;
}

#about-us > div > div > h1 {
    text-align: center;
}

#about-us > div > div > p {
    color: #222;
}

#about-us > div:nth-child(2) > div[image] {
    background-image: url("../cat.svg");
}

#about-us > div:nth-child(3) > div[image] {
    padding: 20%;
    background-image: url("../mission.svg");
}

#about-us > div:nth-child(4) > div[image] {
    padding: 20%;
    background-image: url("../diamond.svg");
}

/* Curiosity */
section#curiosity {
    width: 100%;
}

#curiosity > div {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-flow: row;
}

#curiosity > div > div {
    width: 50%;
    display: inline-block;
    /* border: 1px solid red; */
}

#curiosity > div > div:first-child {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-image: url("../floating-dog.jpg");
    height: 400px;
}

#curiosity > div > div:last-child {
    background-color: #4df1c8;
    padding: 8px 16px;
}

#curiosity > div > div:last-child > p {
    color: #222;
}

#curiosity > div > div:last-child > h1 {
    margin-top: 10%;
    text-align: center;
}

/* Contact */
section#contact {
    width: 100%;
}

section#contact > form {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-flow: column;
}

section#contact > form > input, section#contact > form > textarea {
    margin: 16px;
    outline: none;
    border: none;
    border-bottom: 1px solid #ded7bf;
    font-size: 1.2rem;
}

section#contact > form > textarea {
    border: 1px solid #ded7bf;
}

section#contact > form > button {
    max-width: 50%;
    border-radius: 5px;
    margin: 0 auto;
    border: none;
    border: 1px solid #ded7bf;
    padding: 8px 16px;
    font-size: 1.1rem;
    background-color: transparent;
    cursor: pointer;
    transition: all ease-in-out 150ms;
}

section#contact > form > button:hover {
    background-color: #ded7bf;
}

/* Footer */
footer {
    width: 100%;
    background-color: #4df1c8;
    padding: 16px 10%;
    display: flex;
    flex-flow: row;
}

footer > section {
    flex: 1;
}

footer > section > h1 {
    text-align: center;
    margin: 0;
    padding: 0;
}

footer > section > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

footer > section > ul > li {
    cursor: pointer;
    width: fit-content;
    margin: 8px 0;
}